<header class="top_bar">
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center">
                <img class="main_logo" src="assets/images/logo.png" title="Books online logo" alt="Books online logo">
            </div>
            <div class="col-md-6">
                <app-search></app-search>
            </div>
            <div class="col-md-4 tools_bar">
                <app-cart></app-cart>
                <app-wish-list></app-wish-list>
            </div>
        </div>
    </div>
</header>
